.gallery__next-btn{
    background-image: url('../../../images/right.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;    
    width: 20px;
    height: 15px;
    margin-left: 25px;
    
}

.gallery__next-btn:hover{
    opacity: .7;
}

@media screen and (max-width: 768px){
    .gallery__next-btn{
        margin-right: 15px;
        margin-left: 15px;
        
    }
}

@media screen and (max-width:320px){
    .gallery__next-btn{
        
    }
}