.gallery__next-btn{
    background-image: url('../../../images/right.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;    
    width: 20px;
    height: 15px;
    
}

.gallery__next-btn:hover{
    opacity: .7;
}

@media screen and (max-width: 768px){
    .gallery__next-btn{
        background-color: white;
        width: 52px;
        height: 52px;
        background-size: initial;
        border-radius: 6px;
        background-position: center right 15px;
        top: 325px;
        right: 75px;
    }
}

@media screen and (max-width:320px){
    .gallery__next-btn{
        background-color: transparent;
        background-size: contain;        
        width: 17px;
        height: 10px;
    }
}