@import url("./__card-cont/benefits-box__card-cont.css");
@import url("./__heading/benefits-box__heading.css");
@import url("./__icon/benefits-box__icon.css");
@import url("./__image/benefits-box__image.css");

.benefits-box {
  min-height: 500px;
  margin: 10px;
  background: #f9f9f9;
  border-radius: 14px;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 43px;
  display: flex;
  color: #000000;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .benefits-box {
    max-width: 748px;
  }
}
