.product__description{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    max-width: 320px;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 100px;
}

@media screen and (max-width: 1024px){
    .product__description{
        text-align: center;
        margin: 22px auto 40px;
        
    }
}

@media screen and (max-width: 320px){
    .product__description{
        width: calc(100% - 2*12px);
        
    }
}