@import url("./__button/header__button.css");
@import url("./__button/header__button-container.css");
@import url("./__button/orange.css");
@import url("./__graphic/header__graphic-left.css");
@import url("./__graphic/header__graphic-right.css");
@import url("./__content/header__content.css");

.header {
  background-color: #242424;
  width: 100%;
  border-radius: 14px;
  margin: 0 auto 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  padding: 150px 0;
  text-align: center;
  align-items: center;
  font-family: "Inter";
}
@media only screen and (max-width: 900px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    display: block;
    margin: auto;
  }
}
