.product__facts{
    list-style: none;
    max-width: 235px;
    padding-left: 0;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px){
    .product__facts{
        max-width: 152px;
        margin: 0 auto;
    }
}