.product__next-btn{
    background-image: url('../../../images/right.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 15px;
    
}

.product__next-btn:hover{
    opacity: .5;
}

@media screen and (max-width:525px){
    .product__next-btn{
        position: absolute; 
        top:80px;
        right: 150px;
    }
}