.benefits-box__heading {
  font-size: 34px;
  line-height: 43px;
  letter-spacing: -0.04em;
  margin-left: 100px;
  color: #000000;
}
@media only screen and (max-width: 1000px) {
  .benefits-box__heading {
    margin: 0 0 82px 0;
  }
}

@media only screen and (max-width: 700px) {
  .benefits-box__heading {
    text-align: center;
    margin: 0 auto 70px auto;

    font-size: 28px;
    line-height: 32px;
  }
}
