@import url("./nav__menu-item.css");

.nav__menu {
  display: flex;
  flex-direction: row;
  box-shadow: none;
  width: auto;
  max-height: 100%;
  list-style-type: none;
  position: relative;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  margin: 0;
}
@media only screen and (max-width: 800px) {
  .nav__menu {
    display: none;
  }
}
