@import url("./__desc/card__desc.css");
@import url("./__heading/card__heading.css");

.card {
  text-align: left;
  width: 235px;
  margin-right: 40px;
    
}
@media only screen and (max-width: 800px) {
  .card {
    text-align: left;
    width: 235px;
    margin: 0 0 104px 0;
  }
}
