.gallery__previous-btn{
    background-image: url('../../../images/left.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none; 
    width: 20px;
    height: 15px;
    
}

.gallery__previous-btn:hover{
    opacity: .7;
}

@media screen and (max-width: 768px){
    .gallery__previous-btn{
        background-color: white;
        width: 52px;
        height: 52px;
        background-size: initial;
        border-radius: 6px;
        
        z-index: 1;
    }
}

@media screen and (max-width: 320px){
    .gallery__previous-btn{               
        background-color: transparent;
        
        background-size: contain;
        
        width: 17px;
        height: 10px;

    }
}