@import url('./__title/product__title.css');
@import url('./__description/product__description.css');
@import url('./__facts/product__facts.css');
@import url('./__item/product__item.css');
@import url('./__checkmark/product__checkmark.css');
@import url('./__container/product__container.css');
@import url('./__image/product__image.css');
@import url('./__heading/product__heading.css');
@import url('./__specs/product__specs.css');
@import url('./__spec/product__spec.css');
@import url('./__span/product__span.css');
@import url('./__previous-btn/product__previous-btn.css');
@import url('./__next-btn/product__next-btn.css');
@import url('./__info-btn/product__info-btn.css');
.product{
    background-color: #F9F9F9;
    border-radius: 14px;
    display: flex;
    max-width: 1260px;
    min-height: 544px;
    margin: 0 auto;
    align-items: center;
}

@media screen and (max-width: 768px){
    .product{
        flex-direction: column-reverse;
        max-width: 748px;
    }
}